.hidden-in-desktop {
    @media screen and (min-width: 1000px) {
        display: none;
    }
}

.hidden-in-mobile {
    @media screen and (max-width: 1000px) {
        display: none !important;
    }
}

.inner {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

.site-header {
    @media screen and (max-width: 1000px) {
        padding-top: 3em;
        padding-bottom: 3em;
    }
    @media screen and (max-width: 500px) {
        padding-top: 6em;
    }
}

.post-feed {
    .post-card {
        @media screen and (max-width: 500px) {
            height: 400px;
            flex-direction: column;

            .post-card-image-link {
                flex: 1;
                margin-right: 0;
                border-top-left-radius: 0.75em;
                border-top-right-radius: 0.75em;
                border-bottom-left-radius: 0;
            }

            .post-card-content {
                // min-height: 220px;
                padding-left: 1em;
            }

            .post-card-trailing {
                left: 0;
            }
        }
        &:nth-of-type(3n + 2),
        &:nth-of-type(3n + 3) {
            @media screen and (max-width: 500px) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    @media screen and (max-width: 550px) {
        // margin-top: 0;
        padding: 0.5em;
    }

    @media screen and (max-width: 400px) {
        margin-top: 0;
        padding: 0.5em;
    }
}

@media screen and (max-width: 1000px) {
    .post-wrapper {
        .content .markdown-content {
            padding: 1em 1em 5em 1em;
        }
    }
}
