$progress-bar-height: 4px;

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    background-color: #2c2c2c !important;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

    .navbar-menu {
        background-color: #2c2c2c !important;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    &.post {
        position: fixed;
        padding-top: $progress-bar-height;
        transform: translateY(-120%);
        transition: transform 500ms ease-in-out;

        &.show {
            transform: translateY(0);
        }

        .progress-wrapper {
            position: absolute;
            left: -1%;
            top: 0;
            width: 102%;

            .progress {
                height: $progress-bar-height;
                background-color: $secondary;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .navbar-brand .navbar-item {
        padding: 0;

        img {
            max-height: 56px;
        }
    }

    .navbar-menu {
        .navbar-start {
            .navbar-item:first {
                padding-left: 0.5em;
            }
        }
    }

    .navbar-item,
    .navbar-link {
        color: white;
    }
}

.navbar-item {
    padding-left: 1rem;
    padding-right: 1rem;
}
