@import "variables";
@import "scrollbar";
@import "header";
@import "navbar";
@import "loader";
@import "builder";
@import "posts";
@import "base";
@import "mobile";

// :root {
//     //
// }

html,
body {
    font-family: var(--blog-font-family), sans-serif !important;
    background-color: $background;
    color: $text-color;
    scroll-behavior: smooth;
}

::selection {
    background: darken($primary, 33%);
    color: white;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: darken($primary, 33%);
    color: white;
    /* Gecko Browsers */
}
