/node_modules/*
/data/generated
/public/htaccess
/public/humans.txt
/public/index.html
/public/builder.html
/public/manifest.json
/public/opensearch.xml
/public/redirect.html
/public/serviceWorker.js
/public/sitemap.xml
/public/web.config
/public/posts/*
/public/robots.txt
/public/assets/json/project.json
/public/assets/json/live.json
/public/feed.xml
/public/about.html