<!DOCTYPE HTML>
<html lang="en">

{{> components/documentHead canonical="true"}}

<body id="blog-body" class="is-loading">
    {{> components/navbar}}
    {{> components/header}}

    <div class="page-wrapper">
        <div class="inner">
            <div class="post-feed">

                {{#each posts}}
                {{> components/postCard}}
                {{/each}}

            </div>
        </div>
    </div>
    {{> components/fullPageLoader}}
</body>

{{> components/scripts}}

</html>