<!DOCTYPE HTML>
<html lang="en">

{{> components/documentHead}}

<body id="blog-body" class="is-loading">
    {{> components/navbar}}
    {{> components/header}}

    <div class="page-wrapper">

    </div>
    {{> components/fullPageLoader}}
</body>

{{> components/scripts}}

</html>