<!DOCTYPE HTML>
<html lang="en">

{{> components/documentHead}}

<body id="blog-body" class="is-loading">
    {{> components/fullPageLoader}}

    <div class="page-wrapper">

    </div>
</body>

{{> components/scripts}}

</html>