<nav class="navbar post">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/assets/img/logo.png" alt="{{meta.appName}}" />
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                {{meta.title}} — {{post.title}}
            </div>
        </div>
    </div>

    <div class="progress-wrapper">
        <div class="progress"></div>
    </div>
</nav>